   <section class="faq">
            <h3>FAQ</h3>
            <div class="accordeon">
                <div class="accordeonItem">
                    <span class="accordeonTitle">Installation</span>
                    <div>
                        <div class="accordeonItem">
                            <span class="accordeonQuestion">J'ai mal posé mon Vinyl Way, puis-je le décoller
                                facilement?</span>
                            <div>
                                <p>Pour les carreaux repositionnables (gammes murs / sols / douches)</p>
                            </div>
                        </div>
                        <div class="accordeonItem">
                            <span class="accordeonQuestion">Au bout de combien de temps le carreaux est-il
                                définitivement fixé au mur?</span>
                            <div>
                                <p>Pour les carreaux repositionnables (gammes murs / sols / douches )</p>
                            </div>
                        </div>
                        <div class="accordeonItem">
                            <span class="accordeonQuestion">Ai-je besoin d'outils pour poser le Vinyl Way ?</span>
                            <div>
                                <p>Pour les carreaux repositionnables (gammes murs / sols / douches )</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordeonItem">
                    <span class="accordeonTitle">Sécurité</span>
                    <div>
                        <div class="accordeonItem">
                            <span class="accordeonQuestion">J'ai mal posé mon Vinyl Way, puis-je le décoller
                                facilement?</span>
                            <div>
                                <p>Pour les carreaux repositionnables (gammes murs / sols / douches)</p>
                            </div>
                        </div>
                        <div class="accordeonItem">
                            <span class="accordeonQuestion">Au bout de combien de temps le carreaux est-il
                                définitivement fixé au mur?</span>
                            <div>
                                <p>Pour les carreaux repositionnables (gammes murs / sols / douches )</p>
                            </div>
                        </div>
                        <div class="accordeonItem">
                            <span class="accordeonQuestion">Ai-je besoin d'outils pour poser le Vinyl Way ?</span>
                            <div>
                                <p>Pour les carreaux repositionnables (gammes murs / sols / douches )</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordeonItem">
                    <span class="accordeonTitle">Commande</span>
                    <div>
                        <div class="accordeonItem">
                            <span class="accordeonQuestion">J'ai mal posé mon Vinyl Way, puis-je le décoller
                                facilement?</span>
                            <div>
                                <p>Pour les carreaux repositionnables (gammes murs / sols / douches)</p>
                            </div>
                        </div>
                        <div class="accordeonItem">
                            <span class="accordeonQuestion">Au bout de combien de temps le carreaux est-il
                                définitivement fixé au mur?</span>
                            <div>
                                <p>Pour les carreaux repositionnables (gammes murs / sols / douches )</p>
                            </div>
                        </div>
                        <div class="accordeonItem">
                            <span class="accordeonQuestion">Ai-je besoin d'outils pour poser le Vinyl Way ?</span>
                            <div>
                                <p>Pour les carreaux repositionnables (gammes murs / sols / douches )</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    $(".template-product .faq .accordeonItem>span").click(function () {
        $(this).parent().toggleClass("active");
    });
  });
</script>