<div class="popupDelivery">
            <div class="popupDeliveryBg popupDeliveryHide">

            </div>
            <div class="popupDeliveryContent">
                <span class="popupDeliveryHide">x</span>
              <div>
                <div>
                   <span>Réductions</span>
                  {% unless customer and customer.tags contains 'pro' %}
                  <p>Plus de <strong>30</strong> carreaux : <span class="reduc">-10%</span></p>
                  <p>Plus de <strong>60</strong> carreaux : <span class="reduc">-15%</span></p>
                    {% else %}
                  <p> <p>Tarif <strong>Professionnels</strong> : <span class="reduc">-30%</span></p>
                  {% endunless %}
                </div>
                <div>
                   <span>Livraison</span>
                  <p>Livré sous <strong>5 jours </strong> en France,
                  <br />                  
                  <strong>7 jours </strong> dans l'Union Européenne.
                  </p>
                  <p><span class="deli">Livraison offerte</span> pour <strong>1 échantillon</strong> OU <strong>à partir de 49€</strong>.
                  <br />
                  (5€ si inférieur)
                  </p>
                </div>
              </div>
            </div>
        </div>