{{ 'header.css' | asset_url | stylesheet_tag }}
{{ 'header.js' | asset_url | script_tag }}

<header class="Header">
        <div class="announcement">
            <span class="madeinfrance"><img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/madeinfrance.svg?v=1666779214">Made in France</span>
            <span><strong>Livraison offerte</strong> à partir de 49€</span>
            <span><strong>-10%</strong> à partir de 30 carreaux</span>
        </div>
        <div class="nav">
            <div class="menuHamburger">
                <div class="menu-toggle" id="menu-toggle"><span class="screen-reader-text">Menu</span>
                    <svg class="icon icon-menu-toggle" aria-hidden="true" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                        viewBox="0 0 100 100">
                        <g class="svg-menu-toggle">
                            <path class="line line-1" d="M5 13h90v14H5z" />
                            <path class="line line-2" d="M5 43h90v14H5z" />
                            <path class="line line-3" d="M5 73h90v14H5z" />
                        </g>
                    </svg>
                </div>
                <div class="menuListHeader">
                    <ul>
                        <li><a href="/collections/carreaux-adhésifs">Carreaux adhésifs</a></li>
                        <li><a href="/#installation">Installation</a></li>
                        <li><a href="/#realisations">Réalisations</a></li>
                        <li><a href="pages/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="logoHeader">
                <a href="/"><img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/LogoVw.svg?v=1666779214">
                    <span>Vinyl Way</span>
                </a>
            </div>
            <div class="btnsHeader">
                <div class="accountHeader">
                    <a href="/account">
                        <img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/accountHeader.svg?v=1666779214" />
                    </a>
                </div>
                <div class="cartHeader">
                    <a href="/cart">
                        <img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/cartHeader.svg?v=1666779214" />
                        <span{% if cart.item_count < 1 %} class="is-empty"{%  endif %}>{{ cart.item_count }}</span>
                    </a>
                </div>
            </div>
        </div>
    </header>