<header class="Header">
        <div class="announcement">
            <span class="madeinfrance"><img src="madeinfrance.svg">Made in France</span>
            <span>Livraison offerte en France</span>
            <span>Texte 3</span>
        </div>
        <div class="nav">
        </div>
    </header>