{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.js' | asset_url | script_tag }}

<section class="intro">

  <div class="divH1">
    <h1>
      <span>Blog</span>
      <span>Vinyl Way</span>
    </h1>
  </div>

  <div class="divH2">
  <h2>
    <span>Tout sur les carreaux</span>
    <span>et la déco adhésive</span>
  </h2>
  </div>

  <div class="blocFilters">
                <ul>
                    <li class="listFilter active">
                        <a data-href="/collections/carreaux-adhesifs-collections/">
                           collections
                        </a>
                    </li>
                    <li class="listFilter">
                        <a data-href="/collections/carreaux-adhesifs-couleurs/">
                            couleur
                        </a>
                    </li>

                    <li class="listFilter">
                        <a data-href="/collections/carreaux-adhesifs-style/">
                            style
                        </a>
                    </li>
                    <li class="listFilter">
                        <a data-href="/collections/carreaux-adhesifs-bestsellers/">
                            Bestsellers
                        </a>
                    </li>
                </ul>
            </div>
  
</section>

<section class="listArticles">

  <ul>
    <li>
      <img src="https://cdn.shopify.com/s/files/1/0648/8670/2332/files/poster_usa.jpg?v=1663845051">
      <a href="">
        Lire l'article
      </a>
      <h3>
        Comment réussir la déco
      </h3>
    </li>
  </ul>
  
</section>