{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.js' | asset_url | script_tag }}

<section class="intro">

  <div class="divH1">
    <h1>
      <span>Blog</span>
      <span>Vinyl Way</span>
    </h1>
  </div>

  <div class="divH2">
  <h2>
    <span>Tout sur les</span>
    <span> carreaux et la déco adhésive</span>
  </h2>
  </div>

  <div class="blocFilters">
                <ul>
                    <li class="listFilter listFilterCollections">
                        <a data-href="/collections/carreaux-adhesifs-collections/">
                           collections
                        </a>
                    </li>
                    <li class="listFilter listFilterColor">
                        <a data-href="/collections/carreaux-adhesifs-couleurs/">
                            couleur
                        </a>
                    </li>

                    <li class="listFilter listFilterStyle">
                        <a data-href="/collections/carreaux-adhesifs-style/">
                            style
                        </a>
                    </li>
                    <li class="listFilter listFilterBest">
                        <a data-href="/collections/carreaux-adhesifs-bestsellers/">
                            Bestsellers
                        </a>
                    </li>
                </ul>
            </div>
  
</section>