{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}

<section>
  
    <h1>
      <span>Blog</span>
      <span>Vinyl Way</span>
    </h1>
  <h2>
    <span>Tout sur les</span>
    <span> carreaux et la déco adhésive</span>
  </h2>

  <div class="listFilter">
    <ul>
      <li class="active">
        <small>Tri par</small>
        <span>Cuisine</span>
      </li>
      <li>
        <span>Douche</span>
      </li>
      <li>
        <span>Meuble</span>
      </li>
    </ul>
  </div>
  
</section>