{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.js' | asset_url | script_tag }}

<section class="intro">

    <div>
  <div class="divH1">
    <h2>
      <span>Blog</span>
      <span>Vinyl Way</span>
    </h2>
  </div>

  <div class="divH2">
  <h1>
    <span>Tout sur les carreaux</span>
    <span>et la déco adhésive</span>
  </h1>
  </div>
  </div>

  
</section>

<section class="listArticles">

  
{% render 'listFilterBlog' %}

{% for link in linklists.blogs.links %}
  {% assign blog = link.object %}
  {% for article in blog.articles %}
    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
  {% endfor %} 
{% endfor %}
  
</section>