body {
    margin: 0;
    width: 100%;
}

li {
    list-style: none;
}

button {
    border: 0;
}

* {
    font-family: "Montserrat";
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    width: 100%;
    padding-top: 100px;
}

img {
    width: 100%;
}

h2 {
    font-size: 32px;
    font-weight: 900;
}

.btn {
    padding: 1rem 2rem;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.btn-1 {
    background-color: #1B8886;
    color: #fff;
}

.btn-1:hover {
    background-color: #FFF;
    color: #1B8886;
}

.btn-2 {
    background-color: #000;
    color: #fff;
}

.btn-2:hover {
    background-color: #FFF;
    color: #000;
    outline: 2px solid #000;
    outline-offset: -2px;
}

.btn-3 {
    background-color: transparent;
    color: #000;
    outline: 2px solid #000;
    outline-offset: -2px;
}

.btn-3:hover {
    background-color: #000;
    color: #fff;
}

.bgCollection.dublin {
  background-color:#9F9A92;
}
.bgCollection.londres {
  background-color:#DDDDDD;
}
.bgCollection.berlin {
  background-color:#211E21;
}
.bgCollection.hossegor {
  background-color:#9B7B5E;
}
.bgCollection.florence {
  background-color:#BCB5B3;
}
.bgCollection.brooklyn {
  background-color:#845E48;
}

.page-width {
  width:95%;
  max-width:1600px;
  margin:auto;
}
.visually-hidden {
  visibility:hidden;
  height:0px;
}

/* cart page */

.cart-item__details a {
  font-size: 1.6rem;
  font-weight:900;
}
.product-option dt {
  display: none;
}
.product-option dd {
  font-size: 1.1rem;
}
