.Header {
    position: absolute;
}

.Header .announcement {
    position: relative;
}

.Header .nav {
    position: fixed;
}

.template-collection section {
    width: 100%;
}

.template-collection .headerCollection {
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
}

.template-collection .headerCollection img {
    width: 100%;
}

.template-collection .headerCollection .title {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #F5F5F5;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-transform: uppercase;
    padding: 0.8rem;
    margin: 0;
    border-bottom: 3px solid #fff;
    z-index: 3;
    position: fixed;
    transition: all 0.1s ease;
}

.template-collection .headerCollection .title h1 {
    font-size: 1rem;
    margin: 0;
}

.template-collection .headerCollection .title h1>small {
    font-size: 100%;
    font-weight: normal;
    opacity: 0;
    position: absolute;
}


.template-collection .headerCollection .title h1 small:nth-child(1) {
    animation: tileInfoAnimation 8s infinite;
}

.template-collection .headerCollection .title h1 small:nth-child(2) {
    animation: tileInfoAnimation 8s infinite;
    animation-delay: 4s;
}


.template-collection .headerCollection .title h1 span {
    visibility: hidden;
}

@keyframes tileInfoAnimation {
    0% {
        opacity: 0;
    }

    2%,
    48% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}


.template-collection .headerCollection .blocFilters {
    width: 100%;
    position: fixed;
    top: 150px;
    transition: all 0.1s ease;
}



.template-collection .headerCollection .blocFilters ul {
    width: 75%;
    margin: auto;
    padding: 0;  
    display: flex;
    flex-direction: column;
}


.template-collection .collectionFilters .headerCollection .blocFilters ul {
    width: 100%;
}


.template-collection.scroll .headerCollection .title,
.template-collection.scroll .headerCollection .blocFilters {
    margin-top: -40px;
}

.template-collection.scroll .blocFilters ul {
    width: 100%;
}


.template-collection.scroll.collectionFilters .filters {
    margin-top: -40px;
}


.template-collection .collectionFilters .Products {
    padding-top: 89px;
  transition: all .1s ease;
}

.template-collection .Products>div {
    padding-top: 1.6rem;
}

.template-collection .collectionFilters .Products>:nth-child(1) {
    padding-top: 0;
}
.template-collection.scroll .collectionFilters .Products {
  padding-top: 49px;
}


.template-collection .headerCollection .blocFilters ul li {
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    height: 40px;
    border-bottom: 1px solid #F5F5F5;
    order:2;
}

.template-collection .headerCollection .blocFilters ul li:nth-child(1) {
    border-bottom: 0;
}

.template-collection .headerCollection .blocFilters ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}


.template-collection .headerCollection .blocFilters ul li small {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 0.3rem;
    text-transform: uppercase;
    font-weight: normal;
}

.template-collection .headerCollection .blocFilters ul li.active {
    display: flex;
    background-color: #000;
    color: #fff;
    fill: #fff;
  order:1;
}

.template-collection .headerCollection .blocFilters ul li.active svg {
    transform-origin: 0%;
    transform: rotate(90deg);
    transform-origin: center;
    margin-left: 0.5rem;
    margin-top: -0.1rem;
    fill: #FFF;
}

.template-collection .headerCollection .blocFilters ul li:hover {
    background-color: #000;
    color: #fff;
    fill: #000;
}

.template-collection .headerCollection .blocFilters ul:hover li.active {
    background-color: #fff;
    color: #000;
}

.template-collection .headerCollection .blocFilters ul.active li {
    display: flex
}

.template-collection .headerCollection .blocFilters ul.active li.active {
    border-bottom: 1px solid #000;
}

.template-collection .headerCollection .blocFilters ul.active li.active svg {
    transform: rotate(-90deg);
    fill: #FFF
}

.template-collection .Products {
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
}

.template-collection .Products>div {
    padding-top: 1.6rem;
}

.template-collection .Products>:nth-child(1) {
    padding-top: calc(1.6rem + 40px);
}

.template-collection .Products .productsList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto;
    padding: 0;
    width: calc(100% - 1rem);
    gap: 0.5rem;
}

.template-collection .collectionFilters .Products .productsList {
    margin-top: 70px;
}

.template-collection .collectionBest .Products .productsList {
    margin-top: 30px;
}

.template-collection .Products .productsList li {
    padding-bottom: 1.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.template-collection .Products>h2 {
    margin-top: 0;
}

.template-collection .Products .productsList li>span {
    font-weight: 900;
    font-size: 1.2rem;
}

.template-collection .Products .productsList li>a img {
    margin: 0.7rem 0;
    transition: all 0.2s ease;
    width: 150px;
    border: 2px solid #fff;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
}

.template-collection .Products .productsList li>a img:hover {
    margin: 0.7rem 0;
    transform: scale(1.04);
}

.template-collection .Products .productsList li>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    gap: 6px;
    width: 150px;
    margin: auto;
}

.template-collection .Products .productsList li>div> :nth-child(1) {
    background-color: transparent;
    text-transform: uppercase;
    height: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
    padding: 0;
}

.template-collection .Products .productsList li>div> :nth-child(2) {
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0 9px;
    flex: content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.template-collection .Products .productsList li>div> :nth-child(2) svg {
    width: 19px;
}

.template-collection .Products .black .productsList li>div> :nth-child(1) {
    background-color: #000;
    color: #fff;
    border: 2px solid transparent;
}

.template-collection .Products .productsList li>div> :nth-child(1):hover {
    filter: invert(1);
    border-color: #fff;
}


.template-collection .Products .black .productsList li>div> :nth-child(2) {
    border-color: #000;
    fill: #000;
}

.template-collection .Products .black>h2,
.template-collection .Products .black .productsList li>span {
    color: #000;
}

.template-collection .Products .black .productsList li>div> :nth-child(2):hover {
    background-color: #000;
    border-color: transparent;
    fill: #fff;
}


.template-collection .Products .white .productsList li>div> :nth-child(1) {
    background-color: #fff;
    color: #000;
}

.template-collection .Products .white .productsList li>div> :nth-child(2) {
    border-color: #fff;
    fill: #fff;
}

.template-collection .Products .white>h2,
.template-collection .Products .white .productsList li>span {
    color: #fff;
}

.template-collection .Products .white .productsList li>div> :nth-child(2):hover {
    fill: #000;
    background-color: #fff;
    border-color: transparent;
}

.template-collection .Products .newport {
    background-color: #284B77;
}

.template-collection .Products .ceramics {
    background-color: #CFA9A6;
}

.template-collection .Products .filters {
    background-color: #f5f5f5;
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1;
    transition: all 0.1s ease;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
}


.template-collection .Products .filterColors ul {
    width: 94%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    vertical-align: middle;
    align-content: center;
    margin: auto;
    gap: 2%;
    padding: 0;
    max-width: 500px;
}

.template-collection .Products .filterColors ul li {
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
    background-color: red;
    border: 1px solid rgb(0, 0, 0, 0.2);
    cursor: pointer;
    max-width: 25px;
    max-height: 25px;
}

.template-collection .Products .filterColors ul li.active {
    transform: scale(1.3);
    transform-origin: 40%;
}

.template-collection .Products .filterColors ul li.active:hover {
    transform: scale(1.3);
}

.template-collection .Products .filterColors ul li:hover {
    transform: scale(1.1);
}

.template-collection .Products .filterStyles ul {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    vertical-align: middle;
    align-content: center;
    margin: auto;
    gap: 0;
    border-bottom: 0;
    border-top: 0;
    padding: 0;
}

.template-collection .Products .filterStyles ul li {
    text-align: center;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-left: 1px solid rgb(0, 0, 0, 0.2);
    height: 100%;
    width: 100%;
    cursor: pointer;
    padding: 1rem 0;
}

.template-collection .Products .filterStyles ul li:nth-child(1) {
    border-left: 0;
}

.template-collection .Products .filterStyles ul li:hover {
    background-color: rgb(0, 0, 0, 0.05);
}

.template-collection .Products .filterStyles ul li.active {
    font-weight: bold;
    background-color: rgb(0, 0, 0, 0.3);
    color: #fff;
    cursor: default;
}

.template-collection .popupPreview {
    width: 100%;
    height: 100%;
    position: fixed;
    padding-top: 125px;
    display: none;
}

.template-collection.template-collection .collectionFilters .popupPreview {
    padding-top: 175px;
}

.template-collection .popupPreview .popupPreviewBg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

.template-collection .popupPreview.active {
    display: block;
}

.template-collection .popupPreview .popupPreviewContent {
    z-index: 2;
    height: 50vh;
    width: 90%;
    margin: auto;
    background: url("http://ftp.vinyl-wall.com/mes/52408-SALLEDEBAIN.jpg") center center / cover;
    background-color: #f5f5f5;
    border: 6px solid #fff;
    position: relative;
    box-shadow: 0px 0px 1000px rgb(0, 0, 0, 1);
}

.template-collection .popupPreview .popupPreviewContent>span {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 6px;
    right: 6px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5rem;
    padding-bottom: 0.3rem;
    cursor: pointer;
}

.template-collection .popupPreview .popupPreviewContent>div {
    width: 100%;
    padding: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 6px;
    text-transform: uppercase;
}

.template-collection .popupPreview .popupPreviewContent>div>.listRooms {
    display: flex;
    width: 100%;
    flex-basis: content;
    align-items: center;
    justify-content: center;
    flex: auto;
    cursor: pointer;
    position: relative;
}

.template-collection .popupPreview .popupPreviewContent>div>.listRooms>div {
    display: flex;
    background-color: #fff;
    width: 100%;
    height: 100%;
    flex-basis: content;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    font-size: 0.9rem;
    flex: auto;
    cursor: pointer;
    position: relative;
}

.template-collection .popupPreview .popupPreviewContent>div>.listRooms ul {
    display: none;
    background-color: #fff;
    width: 100%;
    flex-basis: content;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.9rem;
    cursor: pointer;
    position: absolute;
    bottom: 100%;
    margin: 0;
    padding: 0;
}

.template-collection .popupPreview .popupPreviewContent>div>.listRooms.active ul,
.template-collection .popupPreview .popupPreviewContent>div>.listRooms.active ul {
    display: flex;
}

.template-collection .popupPreview .popupPreviewContent>div>.listRooms ul li {
    padding: 0.8rem 0;
    border-bottom: 1px solid #F5F5F5;
    width: 100%;
    text-align: center;
}

.template-collection .popupPreview .popupPreviewContent>div>.listRooms ul li:hover {
    background-color: #F5F5F5;
}

.template-collection .popupPreview .popupPreviewContent>div>.listRooms.active>div,
.template-collection .popupPreview .popupPreviewContent>div>.listRooms.active>div:hover,
.template-collection .popupPreview .popupPreviewContent>div>.listRooms:hover>div,
.template-collection .popupPreview .popupPreviewContent>div>.listRooms:hover>div:hover {
    background-color: #F5F5F5;
    color: #000;
    fill: #000;
}



.template-collection .popupPreview .popupPreviewContent>div>.listRooms svg {
    margin-left: 0.5rem;
    transform: rotate(90deg);
    transform-origin: center;
    margin-top: -0.1rem;
}

.template-collection .popupPreview .popupPreviewContent>div>:nth-child(2) {
    display: flex;
    background-color: #1B8886;
    color: #fff;
    width: 100%;
    flex-basis: content;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
    gap: 6px;
    flex: auto;
    cursor: pointer;
}

.template-collection .popupPreview .popupPreviewContent>div>:nth-child(2) small {
    font-weight: bold;
}

.template-collection .popupPreview .popupPreviewContent>div>:nth-child(2) span {
    font-weight: 900;
}

.template-collection .popupPreview .popupPreviewContent>span:hover,
.template-collection .popupPreview .popupPreviewContent>div>.listRooms>div:hover {
    background-color: #000;
    color: #fff;
    fill: #fff;
}

.template-collection .popupPreview .popupPreviewContent>div>:nth-child(2):hover {
    background-color: #fff;
    color: #1B8886;
}

/* MEDIA SCREEN */


@media only screen and (min-width: 370px) {



    .template-collection .Products .productsList li>a img {
        width: 170px;
    }

    .template-collection .Products .productsList li>div {
        width: 170px;
    }

    .template-collection .Products .productsList li>div> :nth-child(1) {
        padding: 0 1rem;
    }

}

@media only screen and (min-width: 600px) {

  
    .template-collection .Products .productsList {
        width: calc(100% - 2rem);
        gap: 1rem;
    }


    .template-collection .Products .productsList {
        grid-template-columns: repeat(3, 1fr);
        max-width: 650px;
    }

    .template-collection .Products h2 {
        margin: 2rem 0;
        font-size: 40px;
    }

    .template-collection .collectionCollections .headerCollection .blocFilters ul {
        max-width: 650px;
    }


    .template-collection.scroll .blocFilters ul {
        max-width: 100%;
    }

}


@media only screen and (min-width: 1025px) {



.template-collection .headerCollection .blocFilters ul li.active:hover svg,
  .template-collection .headerCollection .blocFilters ul.active li.active svg {
    fill: #000;
}

  
  .template-collection .popupPreview .popupPreviewContent > div {
    width: 200px;
    height: 52px;
    top: -2px;
  }
  .template-collection .popupPreview .popupPreviewContent > div > .listRooms ul {
    bottom:auto;
    top:100%;
  }

    .template-collection .Products {
        width: 50%;
    }

    .template-collection .Products .productsList {
        gap: 0.5rem;
    }


    .template-collection .Products .productsList li>a img {
        width: 140px;
    }

    .template-collection .Products .productsList li>div {
        width: 140px;
    }

    .template-collection .Products .productsList li>div> :nth-child(1) {
        padding: 0;
    }

    .template-collection .headerCollection .title {
        width: 50%;
        justify-content: flex-start;
    }

    .template-collection .headerCollection .blocFilters {
        width: 50%;
        top: 100px;
        z-index: 3;
        width: 50%;
        padding-right: 5px;
        padding-top: 4px;
    }

    .template-collection .headerCollection .blocFilters {
        width: 50%;
        top: 100px;
        z-index: 3;
        width: 50%;
    }

    .Header {
        position: fixed;
    }

    .template-collection .popupPreview {
        width: 50%;
        padding-top: 0;
        display: block;
        right: 0;
        height: calc(100% - 100px);
    }

    .template-collection .popupPreview .popupPreviewBg {
        display: none;
    }

    .template-collection .popupPreview .popupPreviewContent {
        height: 100%;
        width: 100%;
        height: 100%;
        width: 100%;
        border: 0;
        border-left: 3px solid #fff;
        box-shadow: none;
    }

    .template-collection .popupPreview .popupPreviewContent>span,
  .template-collection .popupPreview .popupPreviewContent>div>:nth-child(2) {
        display: none;
    }
  

    .template-collection .collectionCollections .Products>div {
        padding-top: 40px;
    }

    .template-collection.template-collection .collectionFilters .popupPreview{
        padding: 0;
    }

    .template-collection .Products .filters {
        width: 50%;
        top: 145px;
    }

    .template-collection .Products .filterColors ul {
        gap: 15px;
        padding: 0;
    }

    .template-collection .Products .filterColors ul li {
        max-width: 30px;
        max-height: 30px;
    }

    .template-collection .headerCollection .blocFilters ul li small {
        display: none;
    }

    .template-collection .headerCollection .blocFilters ul,
    .template-collection .collectionFilters .headerCollection .blocFilters ul {
        width: 200px;
        float: right;
    }

    .template-collection .collectionFilters .Products .productsList {
        margin-top: 60px;
    }
}


@media only screen and (min-width: 1200px) {


    .template-collection .headerCollection .blocFilters ul,
    .template-collection .collectionFilters .headerCollection .blocFilters ul {
        width: 290px;
    }

    .template-collection .headerCollection .blocFilters ul li small {
        display: block;
    }

    .template-collection .collectionCollections .Products {
        overflow-y: scroll;
        height: calc(100vh - 100px);
        scroll-snap-points-y: repeat(calc(100vh - 100px));
        scroll-snap-type: y mandatory;
        width: 50%;
        scrollbar-width: thin;
    }

    .template-collection .collectionCollections .Products>div {
        height: calc(100vh - 100px);
        scroll-snap-align: start;
        position: relative;
    }

    .template-collection .Products .productsList {
        width: calc(100% - 2rem);
        gap: 1rem;
        margin-top: 3rem;
    }


    .template-collection .Products .productsList li>a img {
        width: 170px;
    }

    .template-collection .Products .productsList li>div {
        width: 170px;
    }

    .template-collection .Products .productsList li>div> :nth-child(1) {
        padding: 0 1rem;
    }

    .template-collection .collectionCollections .Products>div {
        height: calc(100vh - 100px);
        padding-top: calc(1.6rem + 40px);
    }

}