main {
  background-color: #f5f5f5;
}

form {
  padding: 25px;
  background-color: #fff;
  box-shadow: 0 0 6px 3px #0000000d;
}

.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.field input {
  width: 200px;
  height: 35px;
  text-align: left;
  font-size: 14px;
  border: 1px solid rgb(0 0 0 / .3);
  background-color: #f5f5f5;
  padding: 0 5px;
  order: 2;
}
.customer a {
  margin-left: auto !important;
  margin-right: auto !important;
  padding-bottom: 4px;
  border-bottom: 2px solid #000;
  width: max-content;
  position: relative;
  outline: 1px solid #fff;
  outline-color: rgb(255, 255, 255);
  outline-offset: -1px;
  transition: all .1s ease;
}
.customer a:hover {
  outline-color: transparent;
}
.customer button {
  margin: 2rem auto 1rem auto;
  background-color: #1b8886;
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  width: max-content;
  padding: 10px 20px;
  text-transform: uppercase;
  cursor: pointer;
}
.customer button:hover {
  opacity:0.95;
}
.customer svg {
  width:20px;
  height: 20px;
}

.template-customers-register form.pro {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}