.Index section {
    width: 100%;
}

.Index .Presentation {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding-bottom: 2rem;
}

.Index .Presentation video {
    width: 100%;
}

.Index .Presentation .titleH1 {
    position: absolute;
    top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.Index .Presentation h1 {
    font-weight: 900;
    font-size: calc(0.5rem + 5vw);
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-shadow: 3px 6px 6px rgb(0 0 0 / 16%);
    margin: 0;
    text-align: center;
}

.Index .Presentation h1>span {
    text-transform: uppercase;
}

.Index .Presentation h1>small {
    font-size: 90%;
}

.Index .Presentation .btn {
    margin: 0 auto;
    margin-top: -25px;
}


.Index .Presentation .contentPresentation>div {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1.2rem
}

.Index .Presentation .contentPresentation>div :nth-child(1) {
    font-weight: 900;
    font-size: calc(1.2rem + 8vw);
}

.Index .Presentation .contentPresentation>div :nth-child(2) {
    font-size: calc(0.1rem + 5vw);
    display: flex;
    text-transform: uppercase;
}

.Index .Presentation ul {
    width: max-content;
    margin: auto;
    padding: 0;
    padding-left: 5%;
}

.Index .Presentation ul li {
    list-style: none;
    font-size: calc(0.5rem + 5vw);
    font-weight: 900;
    transition: all 0.3s ease;
    line-height: 160%;
}


.Index .Presentation ul li::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('/li-check.svg');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}


.Index .Transform {
    background-color: #FFF;
}


.Index .Transform>div {
    width: 95%;
    margin: auto;
}

.Index .Transform h2 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.Index .Transform p {
    padding-bottom: 30px;
    text-align: justify;
}

.Index .Transform a {
    margin: auto;
}

.Index .Transform .btn {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.Index .Transform .Truspilot {
    margin: 30px auto;
}

.Index .SlideProducts {
    background-color: #F7F2EE;
    padding-top: 5px;
    text-align: center;
}

.Index .SlideProducts ul {
    width: -moz-fit-content;
    width: fit-content;
    display: inline-flex;
}

.Index .SlideProducts ul li {
    width: 10vw;
}

.Index .SlideProducts ul li.active {
    width: 80vw;
}

.splide {
    padding-top: 0px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.splide__slide img {
    display: block;
    width: 100%;
    transition: transform 400ms;
    transform: scale(.7);
    transform-origin: center center;
    box-shadow: 0 0 15px rgb(0 0 0 / 11%);
}

.splide__slide.is-active img {
    transform: scale(1);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.splide__slide span {
    display: block;
    opacity: 0;
    padding-top: 15px;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
    text-transform: uppercase;
}

.splide__slide.is-active span {
    opacity: 1;
}

.splide__arrows {
    display: flex;
    position: absolute;
    width: 100%;
    top: 35%;
    z-index: 2;
}

.splide .splide__arrow {
    top: 0;
    bottom: 0;
    height: 100%;
    transform: none;
    border-radius: unset;
    width: 50px;
    opacity: .9;
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.5);
    box-shadow: 0 0 6px 3px rgb(0 0 0 / 5%);
    height: 50px;
    position: absolute;
}

.splide .splide__arrow svg {
    width: 24px;
    height: 24px;
    fill: #FFF;
    text-shadow: 0 0 15px rgb(0 0 0 / 20%);
}


.splide__arrow.splide__arrow--prev {
    left: 10px;
}

.splide__arrow.splide__arrow--next {
    right: 10px;
}

.SlideProducts .btn {
    display: inline-block;
    margin-bottom: 30px;
}

.Index .Quality {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Index .Quality> :nth-child(1) {
    padding: 0 2.5%;
}

.Index .Quality> :nth-child(1) h2 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.Index .Quality> :nth-child(1) h2 span {
    align-items: center;
    display: flex;
    font-weight: normal;
}

.Index .Quality> :nth-child(1) h2 b {
    font-weight: 900;
}

.Index .Quality> :nth-child(1) h2 span img {
    width: 125px;
    margin-left: 1rem;
}

.Index .Quality p {
    text-align: justify;
}

.Index .Quality> :nth-child(2) {
    margin-top: 3rem;
    display: inline-flex;
    align-items: center;
    align-content: center;
    background-color: #F5F5F5;
    padding: 0 2.5%;
    padding-bottom: 3rem;
}

.Index .Quality> :nth-child(2)>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: calc(100% - 0.5vw);
    flex: auto;
    padding: 0;
    margin-top: 1rem;
}

.Index .Quality> :nth-child(2)>ul li {
    display: flex;
}

.Index .Quality> :nth-child(2) .couches {
    position: relative;
    flex: 40%;
    padding-top: 2rem;
}


/* SVG SOUCHES => */


.couches svg {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 180%;
    overflow: visible;
}

.couches svg g {
    -webkit-filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, .3));
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, .3));
}

.couches .img-svg {
    left: 0%;
    top: 0%;
    width: 125%;
    transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-13.4rem) translateX(-8.5rem);
    box-shadow: 50px 50px 80px rgba(0, 0, 0, .15);
}


.couches .svg-couches .st0 {
    -webkit-animation: svgcouches1 6s infinite;
    animation: svgcouches1 6s infinite;
}

.couches .svg-couches .st1,
.couches .svg-couches .st2,
.couches .svg-couches .st3 {
    -webkit-animation: svgcouches2 6s infinite;
    animation: svgcouches2 6s infinite;
}

.couches .svg-couches .st4,
.couches .svg-couches .st5,
.couches .svg-couches .st6 {
    -webkit-animation: svgcouches3 6s infinite;
    animation: svgcouches3 6s infinite;
}

.couches .svg-couches .st7 {
    -webkit-animation: svgcouches4 6s infinite;
    animation: svgcouches4 6s infinite;
}

.couches .img-svg {
    -webkit-animation: svgcouches5 6s infinite;
    animation: svgcouches5 6s infinite;
}

@keyframes svgcouches1 {
    0% {
        transform: translateY(0px) translateX(0);
    }

    45% {
        transform: translateY(-90px) translateX(0px);
    }

    55% {
        transform: translateY(-90px) translateX(0px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes svgcouches2 {
    0% {
        transform: translateY(0px) translateX(0);
    }

    45% {
        transform: translateY(-30px) translateX(0px);
    }

    55% {
        transform: translateY(-30px) translateX(0px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes svgcouches3 {
    0% {
        transform: translateY(0px) translateX(0);
    }

    45% {
        transform: translateY(30px) translateX(0px);
    }

    55% {
        transform: translateY(30px) translateX(0px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes svgcouches4 {
    0% {
        transform: translateY(0px) translateX(0);
    }

    45% {
        transform: translateY(105px) translateX(0px);
    }

    55% {
        transform: translateY(105px) translateX(0px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes svgcouches5 {
    0% {
        transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-18.4rem) translateX(-12.7rem);
    }

    45% {
        transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-3.8rem) translateX(1rem);
    }

    55% {
        transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-3.8rem) translateX(1rem);
    }

    100% {
        transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-18.4rem) translateX(-12.7rem);
    }
}

/* <= SVG SOUCHE */


.Index .Quality> :nth-child(3) {
    background-color: #F5F5F5;
    padding: 0 2.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 3rem;
    ;
}

.Index .Install {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.Index .Install> :nth-child(1) {
    position: relative;
}

.Index .Install video {
    width: 100%;
    position: relative;
}


.Index .Install h2 {
    position: absolute;
    top: 1rem;
    left: 30px;
    font-weight: 900;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-shadow: 3px 6px 6px rgb(0 0 0 / 16%);
    margin: 0;
}

.Index .Install span {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.Index .Install span svg {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 0.6rem;
    width: 3rem;
    height: 3rem;
    fill: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: 2px solid transparent;
}

.Index .Install span svg:hover {
    outline: 2px solid rgb(255, 255, 255, 0.5);
}