.template-index section {
    width: 100%;
}

.template-index .Presentation {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    padding-bottom: 2rem;
}
.template-index .Presentation .titleH1 {
    position: absolute;
    top: 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.template-index .Presentation h1 {
    font-weight: 900;
    font-size: calc(0.5rem + 5vw);
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-shadow: 3px 6px 6px rgb(0 0 0 / 16%);
    margin: 0;
    text-align: center;
}

.template-index .Presentation h1>span {
    text-transform: uppercase;
}

.template-index .Presentation h1>small {
    font-size: 90%;
}

.template-index .Presentation .mobileBtnPresentation {
    margin: 0 auto;
    margin-top: -25px;
  z-index: 2;
}

.template-index .Presentation .desktopBtnPresentation {
    display: none;
}


.template-index .Presentation .contentPresentation>div {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
    gap: 1.2rem
}

.template-index .Presentation .contentPresentation>div>:nth-child(1) {
    font-weight: 900;
    font-size: calc(1.2rem + 8vw);
    transform: scaleY(1.1);
}

.template-index .Presentation .contentPresentation>div>:nth-child(2) {
    padding: 0;
    margin: 0;
    font-size: calc(0.1rem + 5vw);
    display: flex;
    flex-direction: column;
    text-transform: uppercase;

}

.template-index .Presentation .mobileIconsPresentation {
    width: max-content;
    margin: auto;
    padding: 0;
    padding-bottom: 1rem;
}


.template-index .Presentation .desktopIconsPresentation {
    display: none;
}

.template-index .Presentation .mobileIconsPresentation li {
    list-style: none;
    font-size: calc(0.5rem + 5vw);
    font-weight: 900;
    transition: all 0.3s ease;
    line-height: 160%;
}


.template-index .Presentation .mobileIconsPresentation li::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 22px;
    height: 22px;
    background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/files/li-check.svg?v=1666779214');
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 0.5rem;
}


.template-index .Transform {
    background-color: #FFF;
}


.template-index .Transform>div {
    width: 95%;
    margin: auto;
}

.template-index .Transform h2 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-top: 2rem;
}

.template-index .Transform p {
    padding-bottom: 30px;
    text-align: justify;
    width: 95%;
    margin: auto;
}

.template-index .Transform a {
    margin: auto;
}

.template-index .Transform .btn {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

.template-index .Transform .Truspilot {
    margin: 1rem auto;
    margin-bottom: 2rem;
}

.template-index .SlideProducts {
    background-color: #f5f5f5;
    padding: 2rem 0;
    text-align: center;
    transition: all 0.5s ease 0s;
}

.template-index .SlideProducts ul {
    width: -moz-fit-content;
    width: fit-content;
    display: inline-flex;
}


.template-index .SlideProducts .splide {
    padding-top: 0px;
    padding-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.template-index .SlideProducts .splide__slide img {
    display: block;
    width: 100%;
    transition: transform 400ms;
    transform: scale(.7);
    transform-origin: center center;
    box-shadow: 0 0 15px rgb(0 0 0 / 11%);
}

.template-index .SlideProducts .splide__slide.is-active img {
    transform: scale(1);
    box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.template-index .SlideProducts .splide__slide span {
    display: block;
    opacity: 0;
    padding-top: 15px;
    transition: all 0.3s ease;
    transition-delay: 0.3s;
    text-transform: uppercase;
}

.template-index .SlideProducts .splide__slide.is-active span {
    opacity: 1;
}
se
.SlideProducts .btn {
    display: inline-block;
    margin-bottom: 30px;
}

.template-index .Quality {
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.template-index .Quality> :nth-child(1) {
    padding: 0 2.5%;
}

.template-index .Quality> :nth-child(1) h2 {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    margin-top: 0;
}

.template-index .Quality> :nth-child(1) h2 span {
    align-items: center;
    display: flex;
    font-weight: normal;
}

.template-index .Quality> :nth-child(1) h2 b {
    font-weight: 900;
}

.template-index .Quality> :nth-child(1) h2 span img {
    width: 125px;
    margin-left: 1rem;
}

.template-index .Quality p {
    text-align: justify;
    width: 95%;
    margin: auto;
}

.template-index .Quality> :nth-child(2) {
    margin-top: 3rem;
    display: inline-flex;
    align-items: center;
    align-content: center;
    background-color: #F5F5F5;
    padding: 0 2.5%;
    padding-bottom: 3rem;
}

.template-index .Quality> :nth-child(2)>ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem;
    flex: auto;
    padding: 0;
    margin-top: 1rem;
}

.template-index .Quality> :nth-child(2)>ul li {
    display: flex;
}

.template-index .Quality> :nth-child(2) .couches {
    position: relative;
    flex: 40%;
    padding-top: 2rem;
}

.svg-couches .st0 {
    fill: rgb(255, 255, 255, 0.7);
}

.svg-couches .st1 {
    fill: #A9A9A9;
}

.svg-couches .st2 {
    fill: #949494;
}

.svg-couches .st3 {
    fill: #B5B5B5;
}

.svg-couches .st4 {
    fill: #EDE4BC;
}

.svg-couches .st5 {
    fill: #BCB89B;
}

.svg-couches .st6 {
    fill: #A5A07E;
}

.svg-couches .st7 {
    opacity: 0.54;
}

.svg-couches .st8 {
    fill: rgb(255, 255, 255, 0.8);
}


/* SVG SOUCHES => */


.couches svg {
    position: absolute;
    left: 0%;
    top: 0%;
    overflow: visible;
    width: 300px;
}

.couches svg g {
    -webkit-filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, .3));
    filter: drop-shadow(0px 20px 20px rgba(0, 0, 0, .3));
}

.couches .img-svg {
    left: 0%;
    top: 0%;
    width: 210px;  
    aspect-ratio: 1 / 1;
    transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-140%) translateX(-100%);
    box-shadow: 50px 50px 80px rgba(0, 0, 0, .15);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/products/VIN57052WB2_03.png?v=1641891419');
    -webkit-animation: svgcouches5 6s infinite;
    animation: svgcouches5 6s infinite;
}

.couches .img-svg img {
    visibility: hidden;
}


.couches .svg-couches .st0 {
    -webkit-animation: svgcouches1 6s infinite;
    animation: svgcouches1 6s infinite;
}

.couches .svg-couches .st1,
.couches .svg-couches .st2,
.couches .svg-couches .st3 {
    -webkit-animation: svgcouches2 6s infinite;
    animation: svgcouches2 6s infinite;
}

.couches .svg-couches .st4,
.couches .svg-couches .st5,
.couches .svg-couches .st6 {
    -webkit-animation: svgcouches3 6s infinite;
    animation: svgcouches3 6s infinite;
}

.couches .svg-couches .st7 {
    -webkit-animation: svgcouches4 6s infinite;
    animation: svgcouches4 6s infinite;
}


@keyframes svgcouches1 {
    0% {
        transform: translateY(0px) translateX(0);
        -webkit-transform: translateY(0px) translateX(0);
    }

    45% {
        transform: translateY(-90px) translateX(0px);
        -webkit-transform: translateY(-90px) translateX(0px);
    }

    55% {
        transform: translateY(-90px) translateX(0px);
        -webkit-transform: translateY(-90px) translateX(0px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
        -webkit-transform: translateY(0px) translateX(0px);
    }
}

@keyframes svgcouches2 {
    0% {
        transform: translateY(0px) translateX(0);
        -webkit-transform: translateY(0px) translateX(0);
    }

    45% {
        transform: translateY(-30px) translateX(0px);
        -webkit-transform: translateY(-30px) translateX(0px);
    }

    55% {
        transform: translateY(-30px) translateX(0px);
        -webkit-transform: translateY(-30px) translateX(0px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
        -webkit-transform: translateY(0px) translateX(0px);
    }
}

@keyframes svgcouches3 {
    0% {
        transform: translateY(0px) translateX(0);
        -webkit-transform: translateY(0px) translateX(0);
    }

    45% {
        transform: translateY(30px) translateX(0px);
        -webkit-transform: translateY(30px) translateX(0px);
    }

    55% {
        transform: translateY(30px) translateX(0px);
        -webkit-transform: translateY(30px) translateX(0px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
        -webkit-transform: translateY(0px) translateX(0px);
    }
}

@keyframes svgcouches4 {
    0% {
        transform: translateY(0px) translateX(0);
        -webkit-transform: translateY(0px) translateX(0);
    }

    45% {
        transform: translateY(105px) translateX(0px);
        -webkit-transform: translateY(105px) translateX(0px);
    }

    55% {
        transform: translateY(105px) translateX(0px);
        -webkit-transform: translateY(105px) translateX(0px);
    }

    100% {
        transform: translateY(0px) translateX(0px);
        -webkit-transform: translateY(0px) translateX(0px);
    }
}

@keyframes svgcouches5 {
    0% {
        transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-140%) translateX(-100%);
        -webkit-transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-140%) translateX(-100%);
        background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/products/VIN57052WB2_03.png?v=1641891419');
    }

    25% {
        background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/products/0a_326b7948-a490-4e8a-82e9-b35d962ac198.png?v=1631785860');
    }

    45% {
        transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-4.1rem) translateX(0.7rem);
        -webkit-transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-4.1rem) translateX(0.7rem);
    }

    50% {
        background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/products/Fichier-WB2_03.png?v=1641889631');
    }

    55% {
        transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-4.1rem) translateX(0.7rem);
        -webkit-transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-4.1rem) translateX(0.7rem);
    }

    75% {
        background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/products/Fichier-WB2_03_b9d5f410-36cf-49a8-ae8c-7b64db21b839.png?v=1642433956');
    }

    100% {
        transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-140%) translateX(-100%);
        -webkit-transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-140%) translateX(-100%);
        background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/products/VIN57052WB2_03.png?v=1641891419');
    }
}

/* <= SVG SOUCHE */


.template-index .Quality> :nth-child(3) {
    background-color: #F5F5F5;
    padding: 0 2.5%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding-bottom: 3rem;
    align-items: center;
}

.template-index .Quality> :nth-child(3) img {
    width:100%;
    max-width: 180px;
}

.template-index .Install {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
}

.template-index .Install .listInstall {
    display: none;
}

.template-index .Install> :nth-child(1) {
    position: relative;
}

.template-index .Install video {
    width: 100%;
    position: relative;
}


.template-index .Install h2 {
    position: absolute;
    top: 1rem;
    left: 30px;
    font-weight: 900;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    color: #FFF;
    text-shadow: 3px 6px 6px rgb(0 0 0 / 16%);
    margin: 0;
}

.template-index .Install small {
    font-size: 100%;
    display: block;
    font-weight: normal;
}

.template-index .Install .btnInstall {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    top: 0;
    left: 0;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.template-index .Install span svg {
    background-color: rgb(255, 255, 255, 0.5);
    padding: 0.6rem;
    width: 3rem;
    height: 3rem;
    fill: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
    outline: 2px solid transparent;
}

.template-index .Install span svg:hover {
    outline: 2px solid rgb(255, 255, 255, 0.5);
}


.template-index .SlideCollections {
    text-align: center;
    transition: all 0.5s ease 0s;
  background-color: #f5f5f5;
  padding-top: 0..5rem;
}

.template-index .SlideCollections ul {
    width: -moz-fit-content;
    width: fit-content;
    display: inline-flex;
    margin: 0;
}

.template-index .SlideCollections .splide {
    padding-top: 0px;
    padding-bottom: 0;
    position: relative;
    overflow: hidden;
}

.template-index .SlideCollections ul li {
    width: 100%;
    padding: 4rem 2rem;
}

.template-index .SlideCollections ul li .slideCollectionsImage {
    width: 100%;
}
.template-index .SlideCollections ul li .slideCollectionsImage>a>img {
    border: 1px solid #fff;   
  transition: all 0.3s ease;
}

.template-index .SlideCollections ul li .slideCollectionsImage>a:hover img {
    opacity: 0.9;
}

.template-index .SlideCollections ul li .slideCollectionsImage>div {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
}

.template-index .SlideCollections ul li .slideCollectionsImage>div {
    border: 1px solid #fff;
    border-right: 0;
}

.template-index .SlideCollections ul li .slideCollectionsImage>div :last-child {
    border-right: 1px solid #fff;
}
.template-index .SlideCollections ul li .slideCollectionsImage .linkProduct {
  display: flex;
  height: max-content;
}
.template-index .SlideCollections ul li .slideCollectionsImage .linkProduct img {
  transition: all 0.3s ease;
}
.template-index .SlideCollections ul li .slideCollectionsImage .linkProduct:hover img {
  transform: scale(1.1);
  border-color: transparent;
}

.template-index .SlideCollections ul li h3 {
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding: 0;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
}

.template-index .SlideCollections ul li .slideCollectionsBtn {
    margin: auto;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1.2rem;
    padding: 0.5rem 4rem;
    display: block;
    margin-top: 2rem;
    color: #fff;
    border: 1px solid #fff;
    width: max-content;
}

.template-index .SlideCollections ul li .slideCollectionsBtn:hover {
    background-color: #FFF;
    color: #000;
}

.template-index .SlideCollections .splide__arrows {
    top: 40%;
}

.template-index .SlideRealisations h2 {
    font-weight: normal;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: max-content;
    padding: 2rem 0;
    text-align: center;
}

.template-index .SlideRealisations .splide__slide img {
    padding: 0.5rem;
}

.template-index .SlideRealisations h2 b {
    font-weight: 900;
}

.template-index .SlideRealisations ul {
    width: -moz-fit-content;
    width: fit-content;
    display: inline-flex;
    margin: 0;
}

.template-index .SlideRealisations .splide {
    padding-top: 0px;
    position: relative;
    overflow: hidden;
}

.template-index .SlideRealisations ul li {
    width: 100%;
    padding: 0;
}

.template-index .Presentation video {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("https://cdn.shopify.com/s/files/1/0648/8670/2332/files/poster_usa.jpg?v=1663845051");
}

.template-index .Transform .bgImg {
  padding: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: block;
  margin: 0;
  height: 80vw;
}

.template-index .Transform .bgTiles {
  position: relative;
  overflow: hidden;
}

.template-index .Transform .bgTiles img {
  position: absolute;
    width: auto;
    min-height: 100%;
    transform: rotate(80deg);
    left: -35%;
    bottom: 20%;    
    -webkit-animation: moveTiles 6s infinite;
    animation: moveTiles 6s infinite;
}


@keyframes moveTiles {
    0% {
    bottom: 20%;    
    }

    100% {
       bottom: -40%;
    }
}




/* MEDIA SCREEN */

@media only screen and (min-width: 500px) {
    .template-index .Presentation .contentPresentation>div>:nth-child(1) {
        font-size: 3.5rem;
    }

    .template-index .Presentation .contentPresentation>div>:nth-child(2) {
        font-size: 1.5rem;
    }

    .template-index .Presentation .contentPresentation {
        padding: 1rem 0;
    }

    .template-index .Presentation .mobileIconsPresentation li {
        font-size: 2rem;
    }

    .template-index .Quality> :nth-child(2)>ul li {
        width: 100%;
        display: block;
        position: relative;
    }

    .template-index .Quality> :nth-child(2)>ul {
        flex: auto;
        text-align: right;
        padding-right: 2rem;
        width: min-content;
        flex: content;
    }

    .template-index .Quality> :nth-child(2) .couches {
        flex: 50%;
    }

    .template-index .Quality> :nth-child(2)>ul li::after {
        content: '';
        width: 10px;
        height: 2px;
        background-color: #000;
        display: block;
        position: absolute;
        top: 40%;
        right: -20px;
    }
  
}

@media only screen and (min-width: 750px) {

    .template-index .Presentation h1 {
        font-size: 2.5rem;
    }

    .template-index .Presentation .mobileIconsPresentation {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .template-index .Transform h2 {
        display: block;
    }

    .template-index .Quality> :nth-child(2)>ul {
        font-size: 1rem;
    }

    .template-index .Quality> :nth-child(2) .couches {
        flex: 40%;
    }

    .template-index .Quality> :nth-child(3) {
        gap: 4rem;
    }

    .template-index .Install h2 {
        left: 0;
        font-size: 2rem;
        text-align: center;
        width: 100%;
    }

    .template-index .Transform>div {
        padding-top: 2rem;
    }

    .template-index .Transform {
        padding-bottom: 2rem;
    }

    .template-index .Transform p,
    .template-index .Quality p {
        width: 100%;
    }
}

@media only screen and (min-width: 1025px) {

  
.template-index .SlideCollections .splide {
padding-bottom: 30px;
}

  
.template-index .Transform .bgImg {
  height: initial;
}
  
    .template-index .Presentation .contentPresentation {
        position: relative;
    }

    .template-index .Presentation .contentPresentation>div {
        position: absolute;
        top: -12rem;
        width: 100%;
        color: #fff;
        text-shadow: 3px 6px 6px rgba(0, 0, 0, 0.16);
        flex-direction: column;
        gap: 0;
        padding: 0;
    }

    .template-index .Presentation .contentPresentation>div> :nth-child(1) {
        font-size: 65px;
    }

    .template-index .Presentation .contentPresentation>div> :nth-child(2) {
        display: block;
        font-size: 18px;
    }

    .template-index .Presentation {
        padding-bottom: 0;
        height: calc(100vh - 100px);
        overflow: hidden;
    }

    .template-index .Presentation video {
        position: absolute;
        top: 0;
        left: 0;
    }

    .template-index .Presentation .contentPresentation {
        padding-top: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
        background-color: #f5f5f5;
    }

    .template-index .Presentation .mobileIconsPresentation {
        display: none;
    }

    .template-index .Presentation .desktopIconsPresentation {
          display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  max-width: 1280px;
  padding: 1rem 0;
    }

    .template-index .Presentation .bgDiag {
        display: none;
    }

    .template-index .Presentation .desktopIconsPresentation li {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-weight: 900;
        font-size: 1.2rem;
        gap: 1rem;
    }

    .template-index .Presentation .desktopIconsPresentation li small {
        font-size: 100%;
        font-weight: normal;
    }

    .template-index .Presentation .desktopIconsPresentation li img {
        width: 60px;
    }

    .template-index .Presentation .desktopIconsPresentation span {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      font-size: 20px;
    }

    .template-index .Presentation .bgDiag {
        background: #f5f5f5;
        position: absolute;
        height: 120px;
        width: 120%;
        transform: rotate(-1.5deg);
        transform-origin: center;
        bottom: 13%;
        z-index: 0;
        display: block;
    }

    .template-index .Presentation .mobileBtnPresentation {
        display: none;
    }

    .template-index .Presentation .desktopBtnPresentation {
        display: block;
        margin-top: 1.5rem;
        text-shadow: none;
    }

    .template-index .Transform {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0;
    }

    .template-index .Transform .btn {
        width: max-content;
    }

    .template-index .Transform.transformRevert .bgImg {
        order: 2;
    }
  
    .template-index .Transform h2 {
        display: flex;
        margin-top: 0;
    }

    .template-index .Transform .Truspilot {
        display: none;
    }

    .template-index .Transform>div {
        width: 100%;
        padding: 4rem 5%;
    }

    .template-index .Transform .btn-3 {
        margin-left: 0.5rem;
    }

    .splide__arrows {
        top: 40%;
    }

    .template-index .SlideCollections ul li {
        margin: 0 1rem;
    }

    .splide__arrow.splide__arrow--prev {
        left: 40px;
    }

    .splide__arrow.splide__arrow--next {
        right: 40px;
    }

    .template-index .Quality {
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
        overflow: visible;
        align-items: center;
    }

    .template-index .Quality> :nth-child(1) {
        flex: 50%;
        order: 2;
    }

    .template-index .Quality> :nth-child(2) .couches {
        flex: inherit;
    }


    .template-index .Quality> :nth-child(2) {
        flex: 50%;
        padding: 0;
        margin: 0;
        position: relative;
        padding: 8rem 0;
    }

    .template-index .Quality> :nth-child(3) {
        flex: 100%;
        grid-template-columns: repeat(6, 1fr);
        order: 3;
    }

    .template-index .Quality> :nth-child(2) .bgDiag {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .template-index .Quality> :nth-child(2) .bgDiag>div {
        background: #fff;
        position: absolute;
        height: 120%;
        width: 30%;
        transform: rotate(10deg);
        transform-origin: center;
        top: -10%;
        right: -10%;
    }

    .template-index .SlideCollections .splide {
        padding-bottom: 0;
    }

    .template-index .Quality> :nth-child(3) {
        padding: 4rem 2.5%;
    }

    .template-index .Install {
        background-color: transparent;
    }

    .template-index .Install .btnInstall {
        display: none;
    }

    .template-index .Install> :nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .template-index .Install> :nth-child(1)> :nth-child(1) {
        order: 2;
        flex: auto;
        position: relative;
    }

    .template-index .Install> :nth-child(1)> :nth-child(1) {
        position: relative;
        height: 100%;
        overflow: hidden;
        flex: 50%;
    }

    .template-index .Install> :nth-child(1)> :nth-child(1)>:nth-child(1) {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .template-index .Install> :nth-child(1)> :nth-child(1)>:nth-child(1) video {
        position: relative;
        min-height: 100%;
        width: auto;
    }

    .template-index .Install> :nth-child(1)> :nth-child(1) .bgDiag {
        background: #fff;
        position: absolute;
        height: 120%;
        width: 30%;
        transform: rotate(-10deg);
        transform-origin: center;
        top: -10%;
        left: -20%;
    }

    .template-index .Install> :nth-child(1)> :nth-child(2) {
        padding: 4rem 2rem;
        flex: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .template-index .Install .listInstall {
        display: flex;
        flex-direction: column;
        grid-area: 2rem;
    }


    .template-index .Install {
        flex-direction: row;
    }

    .template-index .Install h2 {
        text-shadow: none;
        color: #000;
        position: relative;
        top: 0;
        text-align: left;
        width: max-content;
        margin-bottom: 2rem;
    }

    .template-index .Install .listInstall>div {
        position: relative;
        margin-left: 2rem;
        margin-top: 3rem;
    }

    .template-index .Install .listInstall>div :nth-child(1) {
        position: absolute;
        bottom: 0;
        left: -1.5rem;
        font-weight: 900;
        font-size: 5.5rem;
        color: #e3e3e3;
        z-index: 0;
    }

    .template-index .Install .listInstall p {
        margin-bottom: 2rem;
    }

    .template-index .Install .listInstall>div :nth-child(2) {
        position: relative;
        font-weight: 900;
        font-size: 2.5rem;
        z-index: 1;
    }

    .template-index .SlideRealisations {
        background-color: #F5F5F5;
        padding-top: 2rem;
    }

    .template-index .SlideCollections {
        padding-top: 1rem;
    }

    .template-index .Install h2 {
        display: none;
    }
}



@media only screen and (min-width: 1400px) {

    .template-index .Transform p,
    .template-index .Quality p {
        width: 100%;
        text-align: left;
        width: 90%;
        margin: 0;
        font-size: 1.1rem;
    }

    .template-index h2 {
        font-size: 42px;
    }

    .template-index .Transform>div {
        padding: 8rem 5%;
    }

    .couches svg {
        width: 400px;
    }

    .couches .img-svg {
        width: 280px;
    }

    @keyframes svgcouches5 {
        0% {
            transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-140%) translateX(-100%);
            background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/files/3.jpg?v=1666780078');
        }

        25% {
            background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/files/1.jpg?v=1666781947');
        }

        45% {
            transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-4rem) translateX(2.2rem);
        }

        50% {
            background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/files/3.jpg?v=1666780078');
        }

        55% {
            transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-4rem) translateX(2.2rem);
        }

        75% {
            background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/files/1.jpg?v=1666781947');
        }

        100% {
            transform: rotateX(65deg) rotateZ(45deg) rotateY(-10deg) skewY(0deg) skewX(5deg) translateY(-140%) translateX(-100%);

            background-image: url('https://cdn.shopify.com/s/files/1/0567/1220/0371/files/3.jpg?v=1666780078');
        }
    }

    .template-index .Quality> :nth-child(2) .couches {
        flex: auto;
    }

    .template-index .Quality> :nth-child(3) {
        padding: 6rem 10rem;
    }

    .template-index .Install> :nth-child(1)> :nth-child(2) {
        padding: 6rem 2rem;
    }

    .template-index .Install h2 {
        font-size: 42px;
        display: block;
    }

}