.template-cart {
    background-color: #f5f5f5;
    width: 100%;
    min-height: 100vh;
}

.cartTemplate {
    width: 95%;
    max-width: 780px;
    margin: auto;
}

.cartTemplateHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 50px 0 25px 0;
}

.cartTemplateHeader h1 {
    font-weight: 900;
    font-size: 1.8rem;
    margin: 0;
}

.cartTemplateHeader a {
    display: block;
    font-size: 15px;
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
    width: max-content;
    position: relative;
    outline: 1px solid #f5f5f5;
    outline-offset: -1px;
    transition: all 0.1s ease;
}

.cartTemplateHeader a:hover {
    outline-color: transparent;
}

.cartGrid {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
    padding-bottom: 25px;
}
.cartGrid>:nth-last-child {
    margin-bottom: 25px;
}

.cartGrid>div {
    display: flex;
    width: 100%;
    padding: 25px;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 6px 3px rgb(0 0 0 / 5%);
    gap: 2rem;
}

.cartGrid>div>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: auto;
}


.template-cart h2 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 900;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin: 0;
}

.template-cart h2 small {
    font-weight: normal;
    text-transform: lowercase;
}

.template-cart h3 {
    font-weight: normal;
    margin-top: 0.5rem;
    font-size: 1.4rem;
}

.template-cart h3 strong {
    font-weight: 900;
}


.template-cart .listTiles p {
    color: #97292B;
    font-size: 15px;
    margin-bottom: 0;
}

.template-cart .listTiles ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    padding: 0;
    margin: 0;
}


.template-cart .listTiles ul li {
    max-width: 80px;
}

.template-cart .listTiles ul li img {
    box-shadow: 0 0 6px 3px rgb(0 0 0 / 5%);
}

.template-cart .productPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}

.template-cart .productPrice>:nth-child(1) {
    position: relative;
    display: flex;
    align-items: center;
}

.template-cart .productPrice>:nth-child(1) .price {
    position: relative;
    font-weight: bold;
    font-size: 26px;
}
.template-cart .price small {
  font-weight: normal;
  font-size: 20px;
  vertical-align: super;
  margin-left: -10px;
}

.template-cart .productPrice>:nth-child(2) {
    display: flex;
    gap: 0.3rem;
    align-items: center;
    position: relative;
}

.template-cart .productPrice>:nth-child(2) input {
    width: 4rem;
    height: 60px;
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    border: 1px solid rgb(0 0 0 / 0.3);
    background-color: #f5f5f5;
    padding: 0 5px;
}

.template-cart input::-webkit-outer-spin-button,
.template-cart input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.template-cart input[type=number] {
    -moz-appearance: textfield;
}

.template-cart .productPrice>:nth-child(2)>span {
    font-size: 30px;
    font-weight: 900;
    padding: 0.5rem;
    cursor: pointer;
    transform-origin: center;
}

.template-cart .productPrice .btnRemove {
    margin-left: 20px;
}

.template-cart .productPrice .btnRemove svg {
    cursor: pointer;
    transform-origin: center;
    width: 25px;
}

.template-cart .productPrice>:nth-child(2)>span:hover,
.template-cart .productPrice .btnRemove svg:hover {
    transform: scale(1.1);
}

.template-cart .divTotal>:nth-child(1)>:nth-child(1) {
    display: flex;
    gap: 10px;
}

.template-cart .btnCheckout {
    background-color: #1b8886;
    color: #fff;
    font-weight: 900;
    font-size: 18px;
    width: max-content;
    padding: 5px 20px;
    text-transform: uppercase;
    cursor: pointer;
    height: 54px;
}

.template-cart .btnCheckout small {
    display: block;
    font-weight: normal;
    font-size: 14px;
    text-transform: initial;
}

.template-cart .btnCheckout {
  opacity: 0.95;
}

.template-cart .btnPaypal {
  width: 150px;
  background-color: #ffc439;
}
.template-cart .btnPaypal:hover {
  box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.05);
}
.template-cart .divTotal .discount {
    position: absolute;
    top: -1.8rem;
    left: 0;
    display: none;
    align-items: center;
    gap: 1.5rem;
    font-size: 24px;
    font-weight: 900;
}


.template-cart .productPrice.discountEnable .discount {
  display:flex;
}


.template-cart .divTotal .discount> :nth-child(1) {
    color: #8E8E8E;
    text-decoration-line: line-through;
    font-weight: bold;
}


.template-cart .divTotal .discount> :nth-child(2) {
    color: #1B8886;
    font-weight: 900;
}

.template-cart .divTotal .infoDelivery {
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 0.6rem;
}

.template-cart .divTotal .btnInfos {
    padding-bottom: 4px;
    border-bottom: 2px solid #000;
    width: max-content;
    position: relative;
    outline: 1px solid #fff;
    outline-offset: -1px;
    transition: all 0.1s ease;
    cursor: pointer;
}
.template-cart .divTotal .btnInfos::before {
content: "";
background-image: url(https://cdn.shopify.com/s/files/1/0567/1220/0371/files/arrow.svg?v=1667990253);
width: 15px;
height: 15px;
margin-right: .4rem;
display: inline-block;
transition: all .2s ease;
}

.template-cart .divTotal .btnInfos:hover {
    outline-color: transparent;
}

.template-cart .divTotal {
    align-items: center;
}

.template-cart .divTotal .productPrice {
    justify-content: center;
    margin: 0;
}

.template-cart .divTotal .productPrice p {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    text-decoration: underline;
}

.template-cart .divTotal .productPrice.discountEnable p {
    margin-bottom: 3rem;
}

.template-cart .divTotal .productPrice .price {
    font-size: 40px;
    cursor: initial;
}

.template-cart .divTotal .productPrice .price:hover {
    transform: scale(1);
}

.template-cart .productPrice .quantityProduct {
  display: flex;
align-items: center;
justify-content: center;
}
.template-cart .divTotal .shopify-cleanslate .pGZsIynlCgQUe6S16lYw, .shopify-cleanslate .XLcXEW3RnM9fyU7k7fvC {
  margin-top: 0px !important;
}

#btnUpdate {
  visibility : hidden;
  height:0;
  width:0;
}
.is-empty .divTotal {
  display : none;
}

.divEmpty {
  display : none;
}
.is-empty .divEmpty {
  display : flex;
}

.quantityProduct .quantity>span {
  font-size: 30px;
    font-weight: 900;
    padding: 0.5rem;
    cursor: pointer;
    transform-origin: center;
}
.quantityProduct .quantity>span:hover {
 transform : scale(1.05);
}



/* MEDIA TEL */

@media only screen and (max-width: 800px) {

    .template-cart .cartTemplateHeader {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .template-cart .listTiles ul {
        gap: 0.1rem;
        max-width: 350px;
        margin: auto;
    }

    .template-cart .cartGrid>div {
        flex-direction: column;
        gap: 1rem;
    }

    .template-cart .listTiles p {
        margin-top: 0.2rem;
        text-align: center;
    }

    .template-cart h2 {
        justify-content: center;
    }

    .template-cart h3 {
        margin-bottom: 0;
        text-align: center;
    }

    .template-cart .divTotal> :nth-child(1)> :nth-child(1) {
        flex-direction: column;
    }

    .template-cart .divTotal>:nth-child(1) {
        order: 2;
    }

    .template-cart .divTotal>:nth-child(2) {
        order: 1;
    }

    .template-cart .divTotal .productPrice p {
        margin-bottom: 2rem;
    }

}


@media only screen and (max-width: 425px) {

    .template-cart h3 {
        text-align: left;
    }

    .template-cart h2 {
        justify-content: flex-start;
    }

    .template-cart .listTiles p {
        text-align: left;
    }

    .template-cart .productPrice {
        flex-direction: column;
        gap: 1rem;
    }

    .template-cart h3 small {
        display: block;
    }

}