.intro {
  position: relative;
  width:100%;
  height: 100vw;
  background-image: url("https://cdn.shopify.com/s/files/1/0648/8670/2332/files/poster_usa.jpg?v=1663845051");
  background-size: cover;
  background-position: center;
}
.intro .divH1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.intro .divH1 h1 {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 0;
  line-height: 40px;
}

.intro .divH1 h1>:nth-child(1) {
  font-size: 63px;
  color: transparent;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
  color: #fff;
  mix-blend-mode: multiply;
}

.intro .divH1 h1>:nth-child(2) {
  font-size: 30px;
  color: #000;
  }

.intro .divH2 {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
}

.intro .divH2 h2 {
  font-weight: bold;
  font-size: 18px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 0;
  text-align: center;
}

.intro .blocFilters {
   width: 100%;
    position: absolute;
    bottom: -20px;
    transition: all .1s ease;
    z-index: 5;
}


.intro .blocFilters ul {
    width: 75%;
    margin: auto;
    padding: 0;  
    display: flex;
    flex-direction: column;
}


.template-collection .collectionFilters .headerCollection .blocFilters ul {
    width: 100%;
}


.template-collection.scroll .headerCollection .title,
.template-collection.scroll .headerCollection .blocFilters {
    margin-top: -40px;
}

.template-collection.scroll .blocFilters ul {
    width: 100%;
}

.intro .blocFilters ul li {
    display: none;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 0.3rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    height: 40px;
    border-bottom: 1px solid #F5F5F5;
    order:2;
}

.intro .blocFilters ul li:nth-child(1) {
    border-bottom: 0;
}

.intro .blocFilters ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
}


.intro .blocFilters ul li small {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 0.3rem;
    text-transform: uppercase;
    font-weight: normal;
}

.intro .blocFilters ul li.active {
    display: flex;
    background-color: #489F9E;
    color: #fff;
    fill: #fff;
  order:1;
}

.intro .blocFilters ul li.active svg {
    transform-origin: 0%;
    transform: rotate(90deg);
    transform-origin: center;
    margin-left: 0.5rem;
    margin-top: -0.1rem;
    fill: #FFF;
}

.intro .blocFilters ul li:hover {
    background-color: #000;
    color: #fff;
    fill: #000;
}

.intro .blocFilters ul:hover li.active {
    background-color: #fff;
    color: #000;
}

.intro .blocFilters ul.active li {
    display: flex
}

.intro .blocFilters ul.active li.active {
    border-bottom: 1px solid #000;
}

.intro .blocFilters ul.active li.active svg {
    transform: rotate(-90deg);
    fill: #FFF
}


.listArticles {
  background: #f5f5f5;
  padding: 2rem 0;
}

.listArticles ul {
  padding:0;
  margin:auto;
  width: calc(100% - 1rem);
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 1rem;  
}


.listArticles ul li {
  padding: 1px;
  box-shadow: 0 0 10px 1px #00000008;
  background: #fff;
}

.listArticles ul li > div {
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.listArticles ul li > h3 {
  text-align: center;
}

.listArticles ul li > a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    background-color: #fff;
    color: #000;
    height: 40px;
}