.intro {
  position: relative;
  width:100%;
  height: 100vw;
  background-image: url("https://cdn.shopify.com/s/files/1/0648/8670/2332/files/poster_usa.jpg?v=1663845051");
  background-size: cover;
  background-position: center;
}
.intro .divTitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.intro .divTitle h1 {
  font-weight: 900;
}

.intro .divTitle h1>:nth-child(1) {
  font-size: 50px;
  color: transparent;
  text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.intro .divTitle h1>:nth-child(2) {
  font-size: 30px;
  color: #000;
  }